.footer {
	// margin-top: 2rem;
	background-color: #0bb6b0;
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100% !important;

	.items {
		width: 100%;

		.item {
			// background-color: crimson;
			width: 100%;
			margin-bottom: 2rem;

			.title {
				background-color: #FFF;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 17px;
				padding: 0.5rem;

				h1 {
					font-size: 14px;
					text-align: center;
				}

			}

			.Announ {
				display: flex;
				align-items: center;
				justify-content: center;

				h1 {
					font-size: 14px;
					color: #FFF;
					font-weight: 600;
				}
			}

			.contact {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;
				padding: 1rem;

				.icon {
					border: 1px solid #FFF;
					padding: 0.7rem;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #FFF;
					border-radius: 10px;
				}
			}

			.centainerr {
				display: flex;
				justify-content: space-between;
				padding: 0.4rem;
				color: #FFF;
				font-size: 14px;

				.left, .right {
					display: flex;
					flex-direction: column;
					gap: 20px;

					span {
						font-size: 10px;
					}
				}
			}

			.desc {
				color: #FFF;
				display: flex;
				align-items: center;
				// justify-content: flex-end;

				p {
					// text-align: end;
					font-size: 13px;
				}
			}

			.socailMedia {
				display: flex;
				align-items: center;
				// justify-content: flex-end;
				gap: 20px;

				.reseu {
					color: #FFF;
					display: flex;
					align-items: center;
					gap: 10px;
					span {
						font-size: 12px;
					}
				}
			}
		}
	}

}
