.storeAdvant {
	margin-top: 2rem;
	background-color: rgb(231, 228, 228);
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 2rem;
	width: 100% !important;

	.advant {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.title {
			margin-bottom: 2rem;

			h1 {
				font-size: 13px;
				color: gray;
			}
		}

		.items {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
			gap: 30px;
			width: 100% !important;

			.item {
				// background-color: crimson;
				padding: 0.4rem;
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 10px;

				.icon {
					background-color: #0bb6b0;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1rem;
				}

				span {
					// color: gray;
					font-size: 12px;
				}

				.desc {
					display: flex;
					align-items: center;
					justify-content: center;

					p {
						text-align: center;
						color: gray;
						font-size: 12px;
					}
				}
			}
		}
	}
}
