.home {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100% !important;

	.homeConatainer {
		width: 100%;

		.imgages {
			padding: 0.6rem;

			img {
				object-fit: contain;
				width: 100%;
			}
		}
		.rightCop {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem;

			span {
				font-size: 12px;
				color: gray;
			}
		}
	}
}
